%h1 設定

=form_for @setting do |f|
  .form-group.row
    = f.label :yearly_deposit, "年間貯蓄額", class: %w(col-xs-2 col-form-label), for: 'user_setting_yearly_deposit'
    .col-xs-10.input-group
      .input-group-addon ￥
      = f.number_field :yearly_deposit, class: 'form-control'

  =f.submit '更新', class: %w(btn btn-primary)

.card
  .card-block
    %dl
      %dt 開始日
      %dd= @setting.start_date
