%nav.navbar.navbar-fixed-top.navbar-dark{style: 'background-color: #330000;'}
  %a.navbar-brand{href: '#'} Nisaで積立ETF
  %ul.nav.navbar-nav
    %li.nav-item
      =link_to "ETF価格一覧", issues_path, class: 'nav-link'
